APP_NAME=GoldenSweep API
APP_ENV=development
DEBUG=true

HOST=0.0.0.0
PORT=8000

MONGODB_URI=mongodb+srv://root:drashtanta@cluster0.wpot22v.mongodb.net/goldensweep?appName=Cluster0
MONGODB_DB_NAME=goldensweep

JWT_SECRET_KEY=replace_me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

FRONTEND_URL=http://localhost:5173

OTP_EXPIRE_MINUTES=10